<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<targets async="true">
		<target name="file"
		        xsi:type="File"
		        layout="${time} - [${level:uppercase=true}]: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
		        fileName="${basedir}/${shortdate}.log"/>
		<target name="outliers"
		        xsi:type="File"
		        layout="${time} - [${level:uppercase=true}]: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
		        fileName="${basedir}/${shortdate}.outliers.log"/>
		<target name="console"
		        xsi:type="ColoredConsole"
		        layout="${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
  </targets>
	<rules>
		<logger name="*" minlevel="Warn" writeTo="outliers" />
    <logger name="*" minlevel="Info" writeTo="file,console" final="true">
	    <filters>
		    <when condition="equals('${buildConfiguration}','Debug')" action="Ignore" />
	    </filters>
    </logger>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
